<div class="github-component height-full {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} 
    bg-white rounded-1 p-3 d-flex flex-items-stretch flex-column ">
      {% if app.image_url %}
      <img src="{{ app.image_url }}" width="80" class="flex-self-center m-3 rounded-1 mb-3 mt-1" alt="{{ app.name }}">
      {% else %}
      <div class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3"
      style="width:64px; height:64px; line-height:64px;">#</div>
      {% endif %}
      <p class="f3 lh-condensed text-center mb-2">{{ app.name }}</p>
      <p class="f5 text-gray ws-normal mt-1">{{ app.description }}</p>
      {% if app.link-app %}
      <a class="btn btn-block btn-primary" style="margin-top: auto;" href="{{ app.link-app }}" target="_blank">Download APK</a>
      {% endif %}
      {% if app.link-web %}
      <a class="btn btn-block btn-green" style="margin-top: 10px;" href="{{ app.link-web }}" target="_blank">Open via Web</a>
      {% endif %}
      {% if app.link-app == null && app.link-web == null %}
      <a class="btn btn-block btn-green">Link coming soon</a>
      {% endif %}

</div>

